{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
    <h1 class="h3 mb-3 font-weight-normal title-text">Register</h1>
        <div class="form-group">
    {{ form_start(registrationForm) }}
            <div class="email-row">
        {{ form_row(registrationForm.email) }}
        </div>
        <div class="pass-row">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="agreement-row">
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn-primary" id="reg-btn">Register</button>
        <div class="roles-row">
        {{ form_end(registrationForm) }}
    </div>
    </div>

    </div>


        </div>
    </div>
{% endblock %}
