{% extends 'base.html.twig' %}

{% block title %}Food index{% endblock %}

{% block body %}
    <h1>Food index</h1>
    {% if app.session.get('customer') %}
        <a href="{{ path('restaurant_index') }}">Más étteremből akarok rendelni!</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>kep</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>FromDate</th>
            <th>ToDate</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for men in menu %}
            {% if (not app.session.get('company')) %}
                <tr>
                    <td colspan="6">{{ men.name }}</td>
                    <td>
                {% for cat in men.menuCategory %}
                    <tr>
                        <td>{{ cat.name }}</td>
                    </tr>
                    {% else %}

                    {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('shop_list_add', {'id': men.id,'rest': men.restaurant.id}) }}">Kosárhoz
                        adás</a>
                     </td>
                </tr>
                {% for food in men.foods %}
                <tr>
                    <td>{{ men.id }}</td>
                    <td>
                        {% for image in food.foodImages %}
                            <a href="{{ asset('uploads/images/'~image.filePath) }}">Click here for the picture!</a>
                            <br>
                        {% endfor %}
                    </td>
                    <td>{{ food.name }}</td>
                    <td>{{ food.description }}</td>
                    <td>{{ food.price }}</td>
                    <td>{{ food.fromDate ? food.fromDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ food.toDate ? food.toDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td></td>
                </tr>
                {% else %}

                {% endfor %}
            {% endif %}
        {% else %}

        {% endfor %}

        {% for food in food %}
            {% if ((not app.session.get('company')) and (date()<=food.toDate or not food.toDate)) or app.session.get('company') %}
                <tr>
                    <td>{{ food.id }}</td>
                    <td>
                        {% for image in food.foodImages %}
                            <a href="{{ asset('uploads/images/'~image.filePath) }}">Click here for the picture!</a>
                            <br>
                        {% endfor %}
                    </td>
                    <td>{{ food.name }}</td>
                    <td>{{ food.description }}</td>
                    <td>{{ food.price }}</td>
                    <td>{{ food.fromDate ? food.fromDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ food.toDate ? food.toDate|date('Y-m-d H:i:s') : '' }}</td>
                    {% if app.session.get('company') %}
                        <td>
                            <a href="{{ path('food_show', {'id': food.id}) }}">show</a>
                            <a href="{{ path('food_edit', {'id': food.id}) }}">edit</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('shop_list_add', {'id': food.id,'rest': food.restaurant.id}) }}">Kosárhoz
                                adás</a>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
