{% extends 'base.html.twig' %}

{% block title %}FoodImages{% endblock %}

{% block body %}
    <h1>FoodImages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ food_image.id }}</td>
            </tr>
            <tr>
                <th>FilePath</th>
                <td>{{ food_image.filePath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('food_images_index') }}">back to list</a>

    <a href="{{ path('food_images_edit', {'id': food_image.id}) }}">edit</a>

    {{ include('food_images/_delete_form.html.twig') }}
{% endblock %}
