{% extends 'base.html.twig' %}

{% block title %}Sale index{% endblock %}

{% block body %}
<div class="container-2">
    <h1>Sale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Percent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.start ? sale.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sale.end ? sale.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sale.percent }}</td>
                <td>
                    <a href="{{ path('sale_show', {'id': sale.id}) }}">show</a>
                    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sale_new') }}">Create new</a>
</div>
{% endblock %}
