{% extends 'base.html.twig' %}

{% block title %}Sale{% endblock %}

{% block body %}
    <h1>Sale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ sale.start ? sale.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ sale.end ? sale.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Percent</th>
                <td>{{ sale.percent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sale_index') }}">back to list</a>

    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>

    {{ include('sale/_delete_form.html.twig') }}
{% endblock %}
