{% extends 'base.html.twig' %}

{% block title %}RestaurantOpeningTime{% endblock %}

{% block body %}
<div class="container-2">
    <h1>RestaurantOpeningTime</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurant_opening_time.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ restaurant_opening_time.day }}</td>
            </tr>
            <tr>
                <th>OpenTime</th>
                <td>{{ restaurant_opening_time.openTime ? restaurant_opening_time.openTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CloseTime</th>
                <td>{{ restaurant_opening_time.closeTime ? restaurant_opening_time.closeTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('restaurant_opening_time_index') }}">back to list</a>

    <a href="{{ path('restaurant_opening_time_edit', {'id': restaurant_opening_time.id}) }}">edit</a>

    {{ include('restaurant_opening_time/_delete_form.html.twig') }}
</div>
{% endblock %}
