{% extends 'base.html.twig' %}

{% block title %}FoodAllergens index{% endblock %}

{% block body %}
    <h1>FoodAllergens index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for food_allergen in food_allergens %}
            <tr>
                <td>{{ food_allergen.id }}</td>
                <td>{{ food_allergen.name }}</td>
                <td>
                    <a href="{{ path('food_allergens_show', {'id': food_allergen.id}) }}">show</a>
                    <a href="{{ path('food_allergens_edit', {'id': food_allergen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('food_allergens_new') }}">Create new</a>
{% endblock %}
