{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Customer name</th>
            <th>Customer email</th>
            <th>Status</th>
            <th>Courier email</th>
            <th>Foods</th>
            <th>WaitingTime</th>
            <th>Order date</th>
            <th>Total income</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sub in suborder %}
            <tr>
                <td>{{ sub.id }}</td>
                <td>{{ sub.parentOrder.customer.username }}</td>
                <td>{{ sub.parentOrder.customer.email }}</td>
                <td>{{ sub.status }}</td>
                <td>{{ sub.courier?sub.courier.email:'' }}</td>
                <td>
                    <table class="table">

                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>kep</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>FromDate</th>
                            <th>ToDate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for food in sub.foods %}
                            <tr>
                                <td>{{ food.id }}</td>
                                <td>
                                    {% for image in food.foodImages %}
                                        <a href="{{ asset('uploads/images/'~image.filePath) }}">Click here for the
                                            picture!</a>
                                        <br>
                                    {% endfor %}
                                </td>
                                <td>{{ food.name }}</td>
                                <td>{{ food.description }}</td>
                                <td>{{ food.price }}</td>
                                <td>{{ food.fromDate ? food.fromDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ food.toDate ? food.toDate|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        {% else %}

                        {% endfor %}
                        </tbody>

                    </table>

                </td>
                <td>{{ sub.waitingTime ? sub.waitingTime|date('H:i:s') : sub.restaurant.waitingTime|date('H:i:s') }}</td>
                <td>{{ sub.parentOrder.date? sub.parentOrder.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sub.totalPrice }}</td>
                <td>
                    {{sub.status}}</td>
                <td><a href="{{ path('order_edit', {'id': sub.id}) }}">edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
