{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>Address</th>
                <th>WaitingTime</th>
                {% if is_granted('ROLE_OWNER') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.address }}</td>
                <td>{{ restaurant.waitingTime ? restaurant.waitingTime|date('H:i:s') : '' }}</td>
                {% if is_granted("ROLE_OWNER") %}
                <td>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">show</a>
                    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
