<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PincérNet!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}

        <link href="{{ asset("/uploads/design/css/style.css") }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function getShopList() {
                var item_properties = document.getElementById("shopList");
                item_properties.innerHTML = "";
                $.get("/shoplist/", function (data, status) {
                    console.log(data);
                    var items = "";
                    for (var i = 0; i < data.data.length; i++) {
                        items += '<li><span style="padding:20px" ">' + data.data[i].name + '</span><span style="padding:20px">' + data.data[i].price + '</span><button style="padding:20px" onclick="deleteItemShoplist('+data.data[i].id+')">Eltávolítás</button></li>';
                    }
                    item_properties.innerHTML = items;

                });
            }
            function deleteItemShoplist(id) {
                $.get("/shoplist/"+id+"/remove", function (data, status) {
                    getShopList();
                });
            }

            function finalizeOrder(){

                let submit_btn = $("#submit-order");

                submit_btn.click(function(e){
                    e.preventDefault();
                    let form = $('#checkout-form');

                    $.ajax({
                        'method':'POST',
                        'data':form.serialize(),
                        'url': '{{ path('order_finalize') }}',
                        'success':function(data){
                            if(data.url){
                                location.href = data.url;
                            }
                        }
                    })


                })


            }

        </script>
    {% endblock %}
</head>
<div class="top-nav">
    <img src="{{ asset('uploads/design/img/logo.png')}}">
{% if app.user %}
    {% block menu %}
           <a class="nav-btn" href="{{ path('app_main') }}">Home</a>
            <a class="nav-btn" href="{{ path('app_logout') }}">Logout</a>
    {% endblock %}
{% else %}
        <a class="nav-btn" href="{{ path('app_login') }}">Bejelentkezés</a>
        <a class="nav-btn" href="{{ path('app_register') }}">Regisztráció</a>
</div>
{% endif %}
{% block body %}{% endblock %}
    {% if app.session.get("customer") %}
    {% if app.request.attributes.get('_route') != 'order_new' %}
        <div class="container-2" id="kosar-container">
        <div>
            <h3>Kosár tartalma</h3>
            <ol id="shopList">
            </ol>
            {% if app.session.get("shopList") %}
            <a href="{{ path('order_new') }}"><button>Kasszához &gt;&gt;</button></a>
            {% endif %}
        </div>
        </div>

        <script>
            getShopList()
        </script>
    {% endif %}

    {% endif %}
</body>
</html>
