<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PincérNet!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <link href="{{ asset("/uploads/design/css/style.css") }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link href='https://fonts.googleapis.com/css?family=Heebo' rel='stylesheet'>
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function getShopList() {
                var item_properties = document.getElementById("shopList");
                item_properties.innerHTML = "";
                $.get("/shoplist/", function (data, status) {
                    console.log(data);
                    var items = "";
                    var open = false;

                    for (var i = 0; i < data.data.length; i++) {

                        if(data.data[i].price != '' && open) {
                            open = false;
                            items  += '</ul></div>';
                        }
                        items += '<li><span style="padding:20px" >' + data.data[i].name + '</span><span style="padding:20px">' + data.data[i].price + '</span>';
                        if(data.data[i].price != ''){
                            items += '<button class="btn-primary inline_prim" style="padding:20px" onclick="deleteItemShoplist('+data.data[i].id+',\''+data.data[i].type+'\')">Eltávolítás</button>';
                        }
                        items += '</li>';
                        if(data.data[i].price != '' && data.data[i].type == 'm') {
                            open = true;
                            items  += '<div><ul>';
                        }


                    }

                    item_properties.innerHTML = items;

                });
            }
            function deleteItemShoplist(id,type) {
                $.get("/shoplist/"+id+"/remove/"+type, function (data, status) {
                    getShopList();
                });
            }

        </script>
        <script>
            function userOrderRating(id){
                    var value = $("#user_rating_" + id).val();
                        $.ajax({
                            type: "GET",
                            url: "/order/customer/customer-order/rating/" +id + "/" + value,
                            success: function (data) {
                                if(data.success) {
                                    location.reload();
                                }
                            }
                        });
            }
        </script>
    {% endblock %}
</head>
<div class="top-nav">
    <a id="logo_link" href="{{path('dashboard_clear',{'type': 'all'}) }}">
        <img id="pincer_logo" src="{{ asset('uploads/design/img/logo.png')}}">
    </a>
{% if app.user %}
    {% block menu %}
        <a href="{{ path('app_main') }}">Home</a>
        <a href="{{ path('app_logout') }}">Logout</a>

    {% endblock %}
{% else %}
        <a class="nav-btn" href="{{ path('app_login') }}">Bejelentkezés</a>
        <a class="nav-btn" href="{{ path('app_register') }}">Regisztráció</a>

{% endif %}
</div>
{% block body %}{% endblock %}
    {% if app.session.get("customer") %}
        <div>
            <h3>Kosár tartalma</h3>
            <ol id="shopList">
            </ol>
            {% if app.session.get("shopList") %}
            <a href="{{ path('order_new') }}"><button  class="btn-primary">Kasszához &gt;&gt;</button></a>
            {% endif %}
        </div>
        <script>
            getShopList()
        </script>

    {% endif %}
</body>
</html>
