{% extends 'base.html.twig' %}

{% block title %}Rendelés - kassza{% endblock %}

{% block body %}
    <h1>Kassza</h1>

{% set total = 0 %}
    <form id="checkout-form">
    <table class="table">
        <thead>
        <tr>
            <th>Étterem</th>
            <th>Étel(ek)</th>
            <th>Fizetendő összesen</th>
            <th>Név</th>
            <th>Szállítási mód</th>
            <th>Fizetési mód</th>
            <th>Szállítási cím</th>
        </tr>
        </thead>
        <tbody>
        {% for k,d in data %}
        <tr>
            <input type="hidden" name="restaurant_id_{{ loop.index }}" value="{{ k|split('_')[1] }}">
            <td>{{ k|split("_")[0] }}</td>
            <td>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Név</th>
                        <th>Ár</th>
                    </tr>
                    </thead>


                    <tbody>

            {% for d2 in d %}
                {% if d2 is iterable %}
                {% for i in range(0,d2['amount']-1) %}
                        <tr>
                            <td>
                                {{ d2['food'].name }}
                            </td>
                            <td>
                                {{ d2['food'].price }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>{{ d['total'] }}

            {% set total=total+d['total'] %}
            </td>
            <td><input type="text" name="name_{{ loop.index }}"></td>
            <td>
                <select name="delivery_mode_{{ loop.index }}">
                    <option value="1">Szállítás</option>
                    <option value="2">Elvitel</option>
                </select>
            </td>
            <td>
                <select name="payment_mode_{{ loop.index }}">
                    <option value="1">Készpénz</option>
                    <option value="2">Bankkártya</option>
                </select>
            </td>
            <td><input type="text" name="address_{{ loop.index }}"></td>
        </tr>
            {% endfor %}
    </table>
    </form>

    <h3>Teljes fizetendő összeg: {{ total }}</h3>

    <button id="submit-order">Rendelés leadása</button>

    <script>
        finalizeOrder();
    </script>

{% endblock %}