{% extends 'base.html.twig' %}

{% block title %}Szabad rendelések{% endblock %}

{% block body %}
    <div class="container-2">
        <h1>Felvett/hozzárendelt rendelések</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Customer name</th>
                <th>Address</th>
                <th>Status</th>
                <th>Foods</th>
                <th>Order date</th>
                <th>Total income</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sub in suborder %}
                <tr>
                    <td>{{ sub.name?sub.name:'-' }}</td>
                    <td>{{ sub.address?sub.address:'-' }}</td>
                    <td>{{ sub.status?sub.status:'-' }}</td>
                    <td>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for food in sub.foods %}
                                <tr>
                                    <td>{{ food.name }}</td>
                                    <td>{{ food.price }}</td>
                                </tr>
                            {% else %}

                            {% endfor %}
                            </tbody>

                        </table>

                    </td>
                    <td>{{ sub.parentOrder.date? sub.parentOrder.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ sub.totalPrice }}</td>
                    <td>
                        {% if not(sub.status == 'ORDERED' or sub.status == 'ACCEPTED' or sub.status == 'IN_PROGRESS' or sub.status == 'DELIVERY_STATUS_FINISHED' or sub.status == 'DELIVERY_STATUS_FAILED' or sub.status == 'DELIVERY_STATUS_CANCELLED') %}
                            <a class="inner-btn" href="{{ path('courier_set_delivery_status',{'type':'cancel','so':sub.id}) }}">Visszautasítom</a>
                            &nbsp;
                        {% endif %}
                        {% if not(sub.status == 'DELIVERY_STATUS_IN_PROGRESS' or sub.status == 'ORDERED' or sub.status == 'ACCEPTED' or sub.status == 'IN_PROGRESS' or sub.status == 'DELIVERY_STATUS_CANCELLED' or sub.status == 'DELIVERY_STATUS_FINISHED' or sub.status == 'DELIVERY_STATUS_FAILED') %}
                            <a class="inner-btn" href="{{ path('courier_set_delivery_status',{'type':'start','so':sub.id}) }}">Elkezdem</a>
                            &nbsp;
                        {% endif %}
                        {% if  not(sub.status == 'DELIVERY_STATUS_ASSIGNED' or sub.status == 'DONE' or sub.status == 'ORDERED' or sub.status == 'ACCEPTED' or sub.status == 'IN_PROGRESS' or sub.status == 'DELIVERY_STATUS_FINISHED' or sub.status == 'DELIVERY_STATUS_FAILED' or sub.status == 'DELIVERY_STATUS_CANCELLED') %}
                            <a class="inner-btn" href="{{ path('courier_set_delivery_status',{'type':'finish', 'so':sub.id}) }}">Leszállítottam</a>
                            &nbsp;
                        {% endif %}
                        {% if not(sub.status == 'DELIVERY_STATUS_ASSIGNED' or sub.status == 'DELIVERY_STATUS_FAILED' or sub.status == 'DONE' or sub.status == 'ORDERED' or sub.status == 'ACCEPTED' or sub.status == 'IN_PROGRESS' or sub.status == 'DELIVERY_STATUS_FINISHED' or sub.status == 'DELIVERY_STATUS_CANCELLED') %}
                            <a class="inner-btn" href="{{ path('courier_set_delivery_status',{'type':'failed', 'so':sub.id}) }}">Meghíúsult</a>
                            &nbsp;
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="inner-btn" href="{{ path('dashboard_courier') }}">&lt;&lt; Vissza</a>
    </div>
{% endblock %}
